<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app">

<head>
    <title>Angular - dyrektywy</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>

<body>
    <div ng-controller="defaultCtrl">
        ng-model <input ng-model="name" /><br/> ng:model <input ng:model="name" /><br/> ng_model <input ng_model="name" /><br/> x-ng-model <input x-ng-model="name" /><br/> x:ng:model <input x:ng:model="name" /><br/> x_ng_model <input x_ng_model="name"
        /><br/> data-ng-model <input data-ng-model="name" /><br/> data:ng:model <input data:ng:model="name" /><br/> data_ng_model <input data_ng_model="name" /><br/>

        <span ng-bind="name"></span><br/>
        <span ng:bind="name"></span><br/>
        <span ng_bind="name"></span><br/>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular.js">
    </script>
    <script>
        angular.module('app', [])
            .controller('defaultCtrl', ['$scope', function($scope) {
                $scope.name = "Magiczny text";
            }]);
    </script>
</body>

</html>